.venv

*\__pycache__
**\__pycache__
***\__pycache__
****\__pycache__
*****\__pycache__

node_modules/
.debug
 dist/
 coverage/
.turbo
test-results/
playwright-report/
blob-report/
playwright/.cache/
target/
.logs/