{% extends 'layout/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title%} | Pwd Reset Form{% endblock %}

{% block content %}

<div class="flex items-center justify-center min-h-screen px-4">
  <form method="post" autocomplete="off"
    class="w-full max-w-md relative bg-white/10 backdrop-blur-xl border border-white/10 shadow-[0_8px_30px_rgba(0,0,0,0.4)] rounded-[1rem] p-8 overflow-hidden animate-fade-in">
    {% csrf_token %}
    <!-- Aura Blob -->
    <div class="absolute -top-10 -left-10 w-40 h-40 bg-gradient-to-tr from-slate-500 to-zinc-400 rounded-full blur-3xl opacity-20 pointer-events-none"></div>
    <!-- Header -->
    <div class="mb-6 text-center">
      <i class="ri-lock-password-line text-5xl text-gray-800"></i>
      <!-- <h1 class="text-2xl font-extrabold bg-gradient-to-r from-slate-300 to-zinc-200 text-transparent bg-clip-text tracking-tight">Sign up</h1>
      <hr class="mt-2 border-t border-white/20" /> -->
    </div>
    <!-- Password Reset -->
    <div class="mb-4">
      {{ form|crispy }}
    </div>
    <!-- Register Button -->
    <button type="submit"
      class="w-full bg-gradient-to-br from-slate-600 to-zinc-500 hover:from-slate-500 hover:to-zinc-400 text-white py-2 rounded-xl font-semibold shadow-md transition-all duration-300 hover:-translate-y-0.5">
      Update
    </button>
    <!-- Link to Login -->
    <div class="mt-6 text-center text-sm text-gray-500">
      Remembered your password?
      <a href="{% url 'login' %}" class="text-orange-600 hover:text-orange-800 font-medium">Login</a>
    </div>
  </form>
</div>


{% endblock %}